<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>commonClass.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B691F6F1FB6B79600BB7E02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B691F831FB6B79700BB7E02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B691F8E1FB6B79700BB7E02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
